@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
$primary: #387F4F; // Main colour for the site
$grey: #eee; // Light grey for borders

body {
    font-family: 'Noto Sans', sans-serif !important;
    background: rgba($color: $primary, $alpha: 0.1);
}

.bg-green {
    background-color: $primary;
    color: #ffffff;
    border-bottom: 2px solid #000;

    .navbar-brand {
        color: #ffffff;
        font-size: 1.8em;
    }

    .nav-link {
        color: #ffffff;
        border-bottom: 2px solid transparent;
        transition: all .3s;

        &:hover {
            color: #ffffff;
            border-bottom-color: #ffffff;
        }
    }
}

.hero {
    width: 100%;
    background-image: url("../img/jtbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #000;
    min-height: 380px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px #ffffff;
    text-align: center;

    &-events {
        @extend .hero;
        background-image: url("../img/events.jpg");
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
    }

    &-news {
        @extend .hero;
        background-image: url("../img/news.jpg");
    }

    &-about {
        @extend .hero;
        background-image: url("../img/about.jpg");
    }

    h1 {
        font-size: 4rem;

        @media (max-width: 768px) {
            font-size: 3rem;
        }

    }

}




.btn-primary,
.badge-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: darken($color: $primary, $amount: 3);
        border-color: $primary;
    }
}

.underline {
    display: block;
    border-bottom: 1px solid $grey;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

}

.news {
    margin: 0;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-item {
        margin-bottom: 2rem;
    }

    &-title {
        font-size: 1.5rem;
    }

    &-date {
        font-size: .9rem;
    }
}

.lead-img {
    width: 100%;
    max-height: 350px;
    overflow: hidden;

    img {
        object-fit: contain;
    }
}

.card-date {
    font-size: 0.9rem;
    padding: .2rem;
    background: $grey;
    margin-top: 0;
}



.testimonials {
    margin: 30px 0;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    flex-wrap: wrap;

    &-item {
        background: #ffffff;
        border-radius: 5px;
        width: 49%;
        border: 1px solid $primary;
        box-sizing: border-box;
        padding: 15px 15px 0 15px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &-quote {
        font-style: italic;

        &::before {
            content: '“';
            font-size: 1.5rem;
        }
    }

    &-attr {
        text-align: right;
    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.w-30 {
    width: 30%;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.w-49 {
    width: 49%;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.footer {
    background: $primary;
    padding: 15px 0;
    color: #fff;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
    }
}